/* .nav-dropdown-menu{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
} */

/* .swiper-container {
  width: 100%;
  height:100%;
}

.swiper-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 3;
  cursor: pointer;
}
.swiper-container .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 3;
  cursor: pointer;
}
.bgimage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} */
